.menu{
	display: flex;
	padding: 0px;
	list-style: none;
	font-family: sans-serif;


}
.menu li{
	width: 100px;
    text-align: center;
	padding: 8px;
}
.menu li:hover{
	background-color: #EEE;
}
.drop{
  position: relative;
}
.menu .drop:hover {
  
	color: red;
}
.menu .drop:hover .drop2 {
  display: block;
	
}
.drop2{
	width: 100px;
	position: absolute;
    left: 0px;
    padding: 0px;
    display: none;

}

.drop2 li{
	list-style: none;
}
.drop2 a{
	text-decoration: none;
}