.pic{
	background-image: url(./image/day.jpg);
	height: 400px;
	background-repeat: no-repeat;
	transition: all 2s;
}
.frame{
	transition: all 2s;
}
.frame:hover{
	transform: translate(100px,100px);
}
.pic:hover{
	background-image: url(./image/night.jpg);
	transform: rotate(360deg);
}
.pic:hover{

}

